<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Public Transportation App</title>
	<!-- Styles -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/main.min.css">
	<!-- Scripts -->
	<script src="/js/main.min.js"></script>
</head>
<body>
<div class="container app-title">
	<h1 >Washington, Dc - Metro Area Train Schedule</h1>
</div>
<div class="container">
		<div class="row">
			<div class="col-sm-12" id="schedule">
				<div class="card post">

				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
